<!DOCTYPE html>
<html lang="en">
<head>
  <style>
      .main{
        background-color: gray;
      }
  </style>
  <link rel="icon" type="image/x-icon" href="https://mail.google.com/mail/u/1?ui=2&ik=ed9f0e9c9f&attid=0.1&permmsgid=msg-a:r-4587052252044434156&th=18b7354d659966cf&view=att&disp=safe&realattid=f_lo97i07u0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <title>Incidents</title>
</head>
  <body background="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTU5NDg4NC1pbWFnZS1rd3Z4cnkzaC5qcGc.jpg" style = "background-repeat:  no-repeat; background-size: 100%; text-color: white">
  <div class="pure-menu pure-menu-horizontal">
      <a href="/incident" class="pure-menu-heading pure-menu-link">Incident Report App</a>
      <ul class="pure-menu-list" align = "right">
        <li class = "pure-menu-item">
          <a href = "/Report" class = "pure-menu-link">Report An Incident</a>
        </li>
        <li class="pure-menu-item">
            <a href="/logout" class="pure-menu-link">Log out</a>
        </li>
      </ul>
  </div>
  <br><br>
  <div>
    <form class = "pure-form" method = "POST" action = "/incident" align = "right">
      <input type = "text" name = "search" placeholder = "Search by Zip Code" required>
      <input type = "submit" name = "enter" value = "Search" class= "pure-button pure-button-active">
      <a href = "/incident" class = "pure-button pure-button-active">Show All</a>
    </form>
  </div>
  <br>
  <br>
  <table class="pure-table pure-table-horizontal" align = "center" width="95%">
      <thead>
          <tr>
              <th>State</th>
              <th>Zip Code</th>
              <th>Location</th>
              <th>Incident Type</th>
              <th>Incident Description</th>
              <th>Date Added</th>
          </tr>
      </thead>
        {% for Incidents in incidents_to_display %} 
        <tr>
          <td>{{Incidents.State}}</td>
          <td>{{Incidents.Zip_Code}}</td>
          <td>{{Incidents.Location}}</td>
          <td>{{Incidents.Incident_Type}}</td>
          <td>{{Incidents.Incident_Description}}</td>
          <td>{{Incidents.Date_Added}}</td>
      </tr>          
        {% endfor %}
  </table>
</body>
</html>