<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="https://mail.google.com/mail/u/1?ui=2&ik=ed9f0e9c9f&attid=0.1&permmsgid=msg-a:r-4587052252044434156&th=18b7354d659966cf&view=att&disp=safe&realattid=f_lo97i07u0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up Completed</title>
</head>
  <body background="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTU5NDg4NC1pbWFnZS1rd3Z4cnkzaC5qcGc.jpg" style = "background-repeat:  no-repeat; background-size: 100%; text-color: white">
  <div align = "center"> 
  <h1>Sign Up Completed</h1>
  <h3>Log in Now</h3>
  <a href = "/", class = "pure-button pure-button-active">Log In</a>
  </div>
</body>
</html>